@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --font-one: "Eczar", serif;
  --font-two: "Albert Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-container {
  background: linear-gradient(270.15deg, #24243e, #302b63, #0f0c29);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #252150;
  font-family: var(--font-two);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name_slogan {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name_slogan h1 {
  margin: 0;
  padding: 0;
  font-family: var(--font-one);
  font-size: 90px;
  color: #fff;
  line-height: 90px;
}

.name_slogan p {
  margin: 0;
  padding: 0;
  font-family: var(--font-two);
  font-size: 40px;
  color: #fff;
  line-height: 40px;
}

.input-container1 {
  border-bottom: 2px solid #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.input-container1 input {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: var(--font-two);
  font-size: 24px;
  color: #fff;
  width: 100%;
}

.input-container1 button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: 0.3s;
}

.input-container1 button:hover {
  background-color: #fff;
  transition: 0.3s;
}

.input-container1 button:hover i {
  color: #302b63;
  transition: 0.3s;
}

button i {
  color: #fff;
  font-size: 25px;
  transition: 0.3s;
}

.error {
  margin: 0;
  padding: 0;
  display: none;
}

.error p {
  margin: 0;
  padding: 0;
  font-family: var(--font-two);
  color: #fe5e41;
}

.response-div {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  height: 80%;
  width: 80%;
  font-family: var(--font-two);
  display: none;
  align-items: center;
}

.primary-cont {
  width: 30%;
  height: 90%;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.primary-cont h2 {
  margin: 0;
  color: #fff;
  font-weight: 200;
  padding: 10px;
  font-size: 20px;
}

.primary-cont .weather {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 20px 0 10px 0;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.primary-cont .weather img {
  width: 90px;
}

.primary-cont .weather h1 {
  margin: 0;
  color: #fff;
  font-weight: 200;
  font-size: 64px;
}

.primary-cont .weather .all_temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.primary-cont .weather .all_temp .temp_minmax {
  color: #fff;
  font-size: 12px;
}

.primary-cont .city-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  margin-right: 5px;
}

.primary-cont .city-cont img {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

.primary-cont .city-cont h4 {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

.primary-cont .city-climatetype {
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  width: 80%;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.wind-cont {
  display: flex;
  background-color: #252150;
  border-radius: 5px;
  margin-top: 20px;
  width: 80%;
  padding: 10px 0px;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.wind-cont h4 {
  margin: 0;
  font-size: 20px;
  margin: 0px 10px;
  font-weight: 100;
  color: #fff;
}
/* Secondary Container */

.secondary-cont {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container2 {
  border-bottom: 2px solid #fff;
  width: 80%;
  display: none;
  justify-content: space-between;
}

.input-container2 input {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: var(--font-two);
  font-size: 18px;
  color: #fff;
  width: 100%;
}

.input-container2 button {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: 0.3s;
}

.input-container2 button:hover {
  background-color: #fff;
  transition: 0.3s;
}

.input-container2 button:hover i {
  color: #302b63;
  transition: 0.3s;
}

.input-container2 button i {
  font-size: 28px;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.input-container3 {
  border-bottom: 2px solid #fff;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.input-container3 input {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: var(--font-two);
  font-size: 18px;
  color: #fff;
  width: 100%;
}

.input-container3 button {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: 0.3s;
}

.input-container3 button:hover {
  background-color: #fff;
  transition: 0.3s;
}

.input-container3 button:hover i {
  color: #302b63;
  transition: 0.3s;
}

.input-container3 button i {
  font-size: 28px;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.detail-div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin-top: 40px;
  padding: 20px 0px;
  padding-bottom: 30px;
}

.climate-detail {
  width: 50%;
}

.aqi-detail {
  width: 50%;
}

.aqi-head {
  font-family: var(--font-two);
  font-weight: 200;
  font-size: 60px;
  letter-spacing: 0;
  margin: 0;
  color: #fff;
}

.aqi-value {
  font-family: var(--font-two);
  font-weight: 200;
  margin: 0;
  font-size: 30px;
  margin-left: 5px;
  color: #fff;
}

.climatetype {
  font-family: var(--font-two);
  font-weight: 200;
  font-size: 60px;
  letter-spacing: 0;
  margin: 0;
  color: #fff;
}

.detail-desc {
  font-family: var(--font-two);
  font-weight: 200;
  margin: 0;
  font-size: 30px;
  margin-left: 5px;
  color: #fff;
}

.forecast-cont {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forecast-cont h3 {
  margin: 10px 0px;
  font-family: var(--font-two);
  color: #fff;
  font-weight: 100;
}

.forecast-div {
  background-color: #302b63;
  width: 100%;
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    inset -10px 0px 10px -10px rgba(0, 0, 0, 0.75);
}

.forecast-div::-webkit-scrollbar {
  height: 5px;
}

.forecast-div::-webkit-scrollbar-track {
  background-color: #adb5bd;
  border-radius: 10px;
}

.forecast-div::-webkit-scrollbar-thumb {
  width: 50px;
  background-color: #cae9ff;
  border-radius: 10px;
}

.forecast1 {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 10px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  z-index: 100;
}

.forecast-cont:nth-child(12) {
  margin-right: 10px;
}

.scroll-cont {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.forecast1 img {
  width: 90px;
  margin-bottom: 10px;
  margin: 5px;
}

.forecast1 .forecast-degree {
  color: #fff;
  margin: 0;
  font-family: var(--font-two);
  font-size: 30px;
  font-weight: 100;
}

.forecast1 h6 {
  color: #fff;
  margin: 0;
  font-family: var(--font-two);
  font-size: 10px;
  font-weight: 100;
}

@media (max-width: 1200px) {
  .wind-cont h4 {
    font-size: 16px;
  }

  .aqi-head {
    font-size: 50px;
  }

  .climatetype {
    font-size: 50px;
  }
}

@media (max-width: 968px) {
  .landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .name_slogan {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .name_slogan h1 {
    margin: 0;
    padding: 0;
    font-family: var(--font-one);
    font-size: 45px;
    color: #fff;
    line-height: 90px;
  }

  .name_slogan p {
    margin: 0;
    padding: 0;
    font-family: var(--font-two);
    font-size: 20px;
    color: #fff;
    line-height: 40px;
  }

  .input-container1 {
    width: 100%;
  }

  .response-div {
    display: none;
    flex-direction: column;
    overflow-y: scroll;
  }

  .response-div::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  .response-div::-webkit-scrollbar-track {
    background-color: #adb5bd;
    border-radius: 10px;
    width: 5px;
  }

  .response-div::-webkit-scrollbar-thumb {
    width: 5px;
    height: 50px;
    background-color: #cae9ff;
    border-radius: 10px;
  }

  .response-div .primary-cont {
    width: 90%;
    border-right: 0;
  }

  .detail-div {
    display: none;
  }

  .aqi-detail {
    display: none;
  }

  .climate-detail {
    display: none;
  }

  .input-container2 {
    display: flex;
    margin: 10px 0px;
  }

  .input-container3 {
    display: none;
  }

  .secondary-cont {
    width: 90%;
  }

  .forecast-cont {
    width: 100%;
    margin: 20px 0px;
  }
}

@media (max-width: 512px) {
  .response-div {
    display: none;
    flex-direction: column;
    overflow-y: scroll;
    padding: 15px 0px;
  }

  .response-div .primary-cont {
    width: 100%;
  }

  .input-container2 {
    width: 90%;
  }

  .response-div .weather {
    width: 100%;
  }

  .response-div .primary-cont .city-climatetype {
    width: 100%;
  }

  .forecast1 img {
    width: 50px;
    margin-bottom: 10px;
    margin: 5px;
  }
}
