@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&family=Eczar:wght@400;500;600;700;800&display=swap");

:root {
  --font-one: "Eczar", serif;
  --font-two: "Alegreya Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-container {
  background: linear-gradient(270.15deg, #24243e, #302b63, #0f0c29);
  height: 100vh;
}

.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name_slogan {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name_slogan h1 {
  margin: 0;
  padding: 0;
  font-family: var(--font-one);
  font-size: 90px;
  color: #fff;
  line-height: 90px;
}

.name_slogan p {
  margin: 0;
  padding: 0;
  font-family: var(--font-two);
  font-size: 40px;
  color: #fff;
  line-height: 40px;
}

.input-container1 {
  border-bottom: 2px solid #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.input-container1 input {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: var(--font-two);
  font-size: 24px;
  color: #fff;
  width: 100%;
}

.input-container1 button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: 0.3s;
}

.input-container1 button:hover {
  background-color: #fff;
  transition: 0.3s;
}

.input-container1 button:hover i {
  color: #302b63;
  transition: 0.3s;
}

button i {
  color: #fff;
  font-size: 25px;
  transition: 0.3s;
}

.error {
  margin: 0;
  padding: 0;
  display: none;
}

.error p {
  margin: 0;
  padding: 0;
  font-family: var(--font-two);
  color: #fe5e41;
}

.response-div {
  height: 100vh;
  padding: 80px 150px;
  display: flex;
  flex-direction: column;
}

.input-container2 {
  border-bottom: 2px solid #fff;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.input-container2 input {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: var(--font-two);
  font-size: 24px;
  color: #fff;
  width: 100%;
}

.input-container2 button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: 0.3s;
}

.input-container2 button:hover {
  background-color: #fff;
  transition: 0.3s;
}

.input-container2 button:hover i {
  color: #302b63;
  transition: 0.3s;
}

.city_date {
  display: flex;
  align-items: center;
}

.city_date img {
  width: 52px;
  height: 52px;
  margin-right: 20px;
}

.city_date h2 {
  font-family: var(--font-two);
  font-size: 52px;
  line-height: 52px;
  color: #fff;
}

.response-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* border: solid 1px #fff; */
}

.response-container .left-cont {
  width: 50%;
  padding: 5px;
}

.degree-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.degree-container img {
  width: 150px;
  height: auto;
}

.degree-container .weatherimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.degree-container .degree_type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-two);
}

.degree-container .degree_type h2 {
  margin: 0;
  padding: 0;
  font-size: 112px;
  line-height: 110px;
  color: #fff;
}

.degree-container .degree_type h4 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  padding: 10px 0px;
}

.card-container img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.fas.fa-wind {
  color: #fff;
  font-size: 80px;
  margin-bottom: 10px;
}

.wind-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  width: 32%;
  height: 100%;
}

.wind-card p {
  color: #fff;
  font-family: var(--font-two);
  margin: 0;
  padding: 0;
}

.wind-card .windspeed {
  font-size: 32px;
}

.wind-card .windlabel {
  font-size: 20px;
}

.humidity-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  width: 32%;
  height: 100%;
}

.humidity-card p {
  color: #fff;
  font-family: var(--font-two);
  margin: 0;
  padding: 0;
}

.humidity-card .humidity {
  font-size: 32px;
}

.humidity-card .humiditylabel {
  font-size: 20px;
}

.fas.fa-eye {
  color: #fff;
  font-size: 80px;
  margin-bottom: 10px;
}

.visibility-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  width: 32%;
  height: 100%;
}

.visibility-card p {
  color: #fff;
  font-family: var(--font-two);
  margin: 0;
  padding: 0;
}

.visibility-card .visibility {
  font-size: 32px;
}

.visibility-card .vislabel {
  font-size: 20px;
}

/* RIGHT CONTAINER */
.response-container .right-cont {
  width: 50%;
  padding: 5px;
}

.right-cont .forecast-top-cont {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
}

.right-cont .forecast-top-cont .day1 {
  width: 24%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-cont .forecast-top-cont .day2 {
  width: 24%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-cont .forecast-top-cont .day3 {
  width: 24%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-cont .forecast-top-cont .day4 {
  width: 24%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forecast-top-cont h3 {
  font-family: var(--font-two);
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.forecast-top-cont p {
  font-family: var(--font-two);
  color: #fff;
  font-size: 38px;
  margin: 0;
  padding: 0;
}

.forecast-top-cont img {
  height: 80px;
  width: 80px;
}

.others-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  height: 50%;
}

.others-cont h1 {
  font-family: var(--font-two);
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.aqi-cont {
  width: 49%;
  height: 100%;
  background-color: rgba(0, 167, 225, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aqi_value h1 {
  font-size: 65px;
}

.aqi-desc {
  color: #fff;
  font-family: var(--font-two);
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.other-details {
  width: 49%;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-details h1 {
  border-bottom: 2px solid #fff;
}

.other-details h4 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: var(--font-two);
  font-size: 20px;
}

.detail-div {
  margin: 10px 0px;
}

.detail-div h4 span {
  font-weight: 200;
}

@media (max-width: 1000px) {
  .city_date {
    display: flex;
    align-items: center;
  }

  .city_date img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .city_date h2 {
    font-family: var(--font-two);
    font-size: 40px;
    line-height: 40px;
    color: #fff;
  }
}
